*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
    color: #757575;
    background: white;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: Montserrat;
    background-color: #000;

}
header{
    display: flex;
    position: fixed;
    width: 120px;
    height: 100%;
    background-color: #222;
    flex-direction: column;
}
#avatar{
    width: 100%;
    /* height: 133px; */
    filter:contrast(70%);
}

.main-menu{
    width: 100%;
}
.main-menu:hover{
    background-color: #000;
}
.main-menu:active{
    background-color: #000;
}
.one-menu{
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.fa-solid{
    color: white;
    font-size: 30px;
    margin-bottom: 12px;
}
.one-menu p{
    font-size: 12px;

}

.main-menu a{
    text-decoration: none;
    color: #fff;
}

main{
    width: calc(100% - 120px);
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header h1{
    color:#fff;
    font-size: 64px;
    font-weight: 400;
    margin: 70px 0 25px 0; 
    width: auto;
    text-align: center;
}
#im2{
    display: none;
    font-size: 3.5rem;
}
.header p{
    color:#fff;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;

}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.header img{
    max-width: 100%;
    height: auto;
}
nav{
    display: none;
    width: 100%;
    height: 35px;
    background-color:#000;
    color: gray;

}
nav a {
    text-decoration: none;
    color: gray;

}
.navbar{
    width: 25%;
    font-size: 13px;
    font-weight:600;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav:hover a{
    color: #fff;
}
.navbar:hover{
    background-color: gray;
    color: #000;
    cursor: pointer;
}
.navbar:hover a{
    color: #000;
}
.my-name{
    width: 980px;
}
.my-name h2{
    color: #f1f1f1;
    font-size: 30px;
    font-weight: 400;
    margin-top: 100px;
}
.my-name hr{
    border-top: 1px solid #eee;
    width: 200px;
    margin: 25px 0;
    opacity: 0.60;

}
.my-name p{
    color: #757575;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

.my-skills{
    width: 980px;
}
.my-skills h3{
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 400;
    margin-top: 100px;
}
.my-skills hr{
    border-top: 1px solid #eee;
    width: 170px;
    margin: 25px 0;
    opacity: 0.60;
}

.my-skills >p{
    letter-spacing: 4px;
    color: #757575;
    margin: 17px 0;

}
.skill{
    height: 28px;
    width: 100%;
    background-color: #fff;
    font-size: 15px;
}


.htmlcss-fill{
    height: 28px;
    width: 90%;
    background-color: #757575;
}
.js-fill{
    height: 28px;
    width: 70%;
    background-color: #757575;
}
.react-fill{
    height: 28px;
    width: 30%;
    background-color: #757575;
}
.wp-fill{
    height: 28px;
    width: 70%;
    background-color: #757575;
}
.git-fill{
    height: 28px;
    width: 50%;
    background-color: #757575;
}

.resume{
    background-color: #f1f1f1;
    color: black;
    height: 45px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 50px;
}
.fa-download{
    color: #000;
    font-size: 15px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.education{
    width: 980px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.education h3{
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 400;

    margin-bottom: 25px;
}
.education hr{
    border-top: 1px solid #eee;
    width: 200px;
    margin: 25px 0;
    opacity: 0.60;
}

.education__part{
    display: flex;
    align-items:center;
    justify-content:left;
    margin-top: 20px;

}
.education__part img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: white;
}

.education__part p:first-child{
    color:#757575;
    font-size: 18px;

}
.education__part p{
    color:#757575;
    font-size: 15px;
    margin-top: 25px;
}
.reptext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
}
.contact{
    width: 980px;
    height: 500px;
}

.contact h2{
    color: #f1f1f1;
    font-size: 30px;
    font-weight: 400;
    margin-top: 100px;
}
.contact hr{
    border-top: 1px solid #eee;
    width: 650px;
    margin: 25px 0 50px 0;
    opacity: 0.60;
}
.contact__logo{
    display: flex;
    justify-content: space-around;

}
.social {
    transition: 0.2s;
    background-color:#000;
    width: 80px;
    filter: opacity(70%);

}
.social:hover {

    filter: opacity(100%);

}




@media (max-width: 1150px){
    .my-name{
        width: 95%;
        margin: auto;
    }
    .my-skills{
        width: 95%;
        margin: auto;
    }

    .education{

        width: 95%;
        margin: 100px auto 50px auto;
    }
    .contact{
        width: 95%;

    }



}
@media (max-width: 770px){

    .contact hr{
        width: 520px;

    }

}
@media (max-width: 600px){
    .header {
        width: 85%;
    }    
    header{
        display: none;
    }
    nav {
        display: flex;
    }
    main{
        width: 92%;
        margin: auto;
    }
    #im {
        display: none;
    }
    #im2{
        display: block;
    }
    .contact hr{
        width: 440px;

    }   
    .social {

        width: 60px;
    
    }
}
@media (max-width: 490px){

    .contact hr{
        width: 330px;

    }

   
}